CI_ENVIRONMENT = production

app.baseURL = 'https://plpi.unisap.ac.id/'
app.indexPage = ''

database.default.hostname = localhost
database.default.database = loaunisa_plpi
database.default.username = loaunisa_plpiuser
database.default.password = CHANGE_ME
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

encryption.key = hex2bin:9b7d0c3f2a1e4d5c6b7f8091a2b3c4d59e8f7a6b5c4d3e2f1a0b9c8d7e6f5a4

plpi.smtp.host = plpi.unisap.ac.id
plpi.smtp.port = 465
plpi.smtp.user = info@plpi.unisap.ac.id
plpi.smtp.password = CHANGE_ME
plpi.smtp.crypto = ssl
plpi.mail.fromEmail = info@plpi.unisap.ac.id
plpi.mail.fromName = 'Pusat Layanan Publikasi Ilmiah'
